body {
	margin-bottom: 0px;
}

button {
	padding: 20px 20px 20px 20px;
	border: 1px gray solid;
	border-radius: 5px;
	font-size: 16px;
	background-color: #ffffff;
}

button:hover {
	background-color: #c6c6c6;
	cursor: pointer;
}

button:focus {
	background-color: #c6c6c6;
}

span.arrow {
	font-size: 10px;
}

.button-group {
	display: inline-block;
}

nav.dropdown {
	width: 120px;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
}

nav.open {
    display: block;
    position: absolute;
  }

a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 10px 0px 10px 20px;
}

a:hover {
	background-color: #c6c6c6;
}
